/* Styling untuk keseluruhan halaman */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container utama */
.card {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header utama */
h1 {
    color: #007bff;
    text-align: center;
}

/* Paragraf */
p {
    font-size: 16px;
    line-height: 1.6;
}

/* Garis pemisah */
hr {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 10px 0;
}

/* Greeting */
small {
    display: block;
    font-style: italic;
    text-align: center;
    color: #888;
    margin-top: 5px;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or use contain, fill, etc. depending on your desired result */
  }