@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Reguler.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Reguler.ttf');
}

:root {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  
  --color-latar: #f3f4f6;
  --color-teks: #374151; 
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb; 
  --color-hijau: #00B074; 
  --color-merah: #ef4444; 
  --color-biru: #114caa;
  --color-kuning: #f59e0b; 
}
